body {
    background-color: #48f132;
    font-weight: bold !important;
    font-size: large !important;
}

h1 {
    background-color: aliceblue;
    width: 100%;
}

.score {
    float: left;
    font-size: 30px;
    margin-top: 30px;
}

.timer {
    float: right;
    font-size: 30px;
    margin-top: 30px;
}

canvas {
    border: 3px solid #333;
    animation: animate 1s infinite;
    border-radius: 5px;
    background-color: #ffff2d;
    margin-top: 100px !important;
}










@keyframes animate {
    from {box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
}